.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    animation: nav-bar-animation 5s infinite ease-in-out;
}

.nav-elements{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    align-items: center;
    width: 40%;
    font-size: 18px;
}

@keyframes nav-bar-animation{
    0%{background-color: rgba(0, 0, 0, 0.8);}
    50%{background-color: rgba(27, 27, 27, 0.8);}
    100%{background-color: rgba(0, 0, 0, 0.8);}
}

