.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('./fonts/Inter-Regular.ttf') format('ttf');
}
